*{
    margin: 0;
    padding:0;
    box-sizing: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
header{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}
.container{
    height: 100%;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-right: 16px;
    padding-left: 16px;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: none;
    gap: 24px;
}
#logo{
    font-size: 24.94px;
    color: black;
    text-decoration: none;
}
.navlink{
    color: rgb(73, 69, 69);
    text-decoration: none;
}
#section1img{
    width: 50%;
}
#section1 .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}
section{
    padding-top: 64px;
    padding-bottom: 64px;
}
#logo, h1, h2, h3, h4, h5, h6{
    font-family: "Lora", serif;
    font-weight: 600;
}
p{
    color: rgb(81, 75, 75);
    line-height: 160%;
}
h1{
    font-size: 40px;
    margin-bottom: 24px;
}
h2{
    font-size: 32px;
    margin-bottom: 8px;
}
.primarybutton{
    padding-left: 24px;
    padding-right: 24px;
    height: 60px;
    color: white;
    background-color: green;
    border-radius: 12px;
    text-decoration: none;
}
.secondarybutton{
    padding-left: 24px;
    padding-right: 24px;
    height: 60px;
    color:black;
    border-radius: 12px;
    text-decoration: none;
}
.buttonholder{
    margin-top: 32px;
}
#section2{
    background-color: rgb(191, 186, 186);
}
.archivement{
    padding:24px;
    border: 1px solid black;
    background-color: white;
}
#alist{
    list-style: none;
    margin-top:32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}